body{
    margin: 0;

}
.background{
    background-image: url(../img/qwe.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.backgroundBox{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgba(47, 41, 71,0.95);
    height: 30%;
    padding-bottom: 10px;
    position: sticky;
    top: 0px;
    z-index: 4;
}
header{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-left: 5%;
    margin-right: 10px;
    position: relative;
    font-style: italic;
    text-align: center;
}
header h4{
    text-transform: uppercase;
    font-family: impact;
    font-size: 40px;
    margin: 0 auto;
    padding-right: 6px;
    color: #696969;
}
header h5{
    text-transform: uppercase;
    font-family: CALIBRI;
    font-size: 50px;
    margin: 0 auto;
    color: white;
}

nav{ 
    margin: 0 auto;
    margin-right: 5%;
    padding-top: 10px;
}
nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    float: right;
    list-style: none;
}
nav ul li{
    padding: 10px;
    text-transform: uppercase;
    color: #fff;

}
nav ul li:hover{
    padding: 10px;
    font-size: 19px;
    transition: 5ms;
}
nav ul li a:hover{
    color: red;
}
li a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
hr{
    margin: 0 auto;
    background-color: rgba(47, 41, 71,0.95);
}
.favoriteText{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
     width: 100%;
    clear: both;
    background-color: rgba(47, 41, 71,0.95);
    padding-top: 200px;
    padding-bottom: 100px;
}

.favoriteText h1{
    color: #fff;
    font-size: 52px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 auto;
}
.favoriteText h2{
    margin-top: 20px;
    color: #fff;
    font-size: 20px;
    font-family: segoe script;
    font-weight: 100;
}
.favoriteText button{
    border: none;
    border-radius: 20px;
    padding:15px;
    font-size: 18px;
    text-transform: uppercase;
    background: red;
    outline: none;
    cursor: pointer;
    color: #fff;
    position: relative;
    margin-top: 152px;
    z-index: 1;
}
.favoriteText button:active{
    top: 5px;
    left: 5px;
}
.infoBox{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hor1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}
.boxs{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
     margin: 0 auto;
    width: 300px;
    height: 200px;
    margin: 8px;
     margin-top: 92px;
}
.boxs h3{
    font-size: 20px;
    text-transform: uppercase;
}
.boxs p{
    font-family: tahoma;
    font-size: 15px;
    color: #808080;
}
.icon{
    display: flex;
    justify-content: flex-start;
}
.icon img{
    margin: 5px;
    padding: 3px;
    width: 24px;
    height: 24px;
    border: 1px solid grey; 
}
.galery{
    display: flex;
    flex-direction: column;
    max-width: 1800px;
    padding-top: 150px;
    margin: 0 auto;
}
.galery #galBox:hover{
      background-size: 500px;
}
.galeryBox{
    display: flex;
   height: 350px;

}

.galeryBoxes1{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../Gal/1.png);
    background-repeat: no-repeat;
    width: 100%;
}
.galeryBoxes2{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../Gal/2.png);
    background-repeat: no-repeat;
    width: 100%;
}
.galeryBoxes3{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../Gal/3.png);
    background-repeat: no-repeat;
    width: 100%;
}
.galeryBoxes4{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../Gal/4.png);
    background-repeat: no-repeat;
     width: 100%;
}
.galeryBoxes5{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../Gal/5.png);
    background-repeat: no-repeat;
    width: 100%;
}
.galeryBoxes6{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../Gal/6.png);
    background-repeat: no-repeat;
    width: 100%;
}
.galeryBoxes7{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../Gal/7.png);
    background-repeat: no-repeat;
     width: 100%;
}
.galeryBoxes8{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../Gal/8.png);
    background-repeat: no-repeat;
    width: 100%;
}

.piople{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.pipHrBox{
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
}
.piopleBox{
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    width: 250px;
    margin: 30px;
    margin-top: 92px;
}
.piopleBox img{
    width: 100%;
    
}
.piopleBox h1{
    font-family: arial;
    color: #46434f;
    font-size: 30px;
    margin-bottom: 5px;
    margin-top: 10px;
}
.piopleBox h2{
    font-family: candara;
    text-transform: uppercase;
    color: red;
    font-size: 19px;
    margin: 0px;
}
.piopleBox p{
    font-family: segoe ui;
    color: #8d8b94;
}
.infoBox1{
    display: flex;
    margin-top: 100px;
    padding: 0;
     background-color: #53354a;
}
.boxInf1{
    width: 60%;
}
.boxInf1 img{
    width: 100%;
    height: 100%;
    padding: 0;
}

.infoBox1 p{
    display: flex;
    align-items: center;
    width: 40%;
    text-align: left;
    font-family: segoe ui;
    color: white;
    font-size: 20px;
    margin: 20px;
}
.downBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.downBox button{
    border: none;
    border-radius: 20px;
    padding:15px;
    font-size: 18px;
    text-transform: uppercase;
    background: red;
    outline: none;
    cursor: pointer;
    color: #fff;
    position: relative;
    margin-top: 50px;
    z-index: 1;
}
.downBox button:active{
    top: 5px;
    left: 5px;
}
.downBox h1{
    text-align: center;
    font-family: courier;
    font-size: 30px;
}
.downBox h2{
    text-align: center;
     text-transform: uppercase;
     font-family: gabriola;
     font-size: 20px;
}
footer{
    display: flex;
    flex-direction: column;
}
.ftHor1{
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center;
    background-color: #3a3e64;
}
.ftHor1 h1{
    font-size: 20px;
    color: white;
    font-family: tunga;
    text-transform: uppercase;
}
.ftHor1 p{
    font-size: 20px;
    color: #8f90a2;
}
.hor1boxes{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin: 8px;
}
.ftimg{
    display: flex;
    justify-content: flex-start;
    width: 16px
    height:15px;
    margin-top: 30px;
}
.ftimg img{
     width: 10px
    height:10px;
    margin: 5px;
    padding: 5px;
    border: 2px solid white;
}
.ftHor2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #313454;
}
.ftHor2 h6{
    display: flex;
    align-items: center;
    font-size: 20px;
    font-family: corbel;
    color: white;
    margin: 0;
}
.ftHor2 p{
    font-family: corbel;
    color: #77787b;
}
.ftHor2 img{
    width: 16px;
    height:16px;
    padding-left: 10px;
    padding-right: 10px;
}